body{
    background-image: url(../test/images/smblur1920-1080.png);

}
h1{
    color: white;
}

p{
    color: white;
}
ul{
    color: rgb(255, 255, 255);
}

#main-content{
    position: absolute;
    top: 150px;
}
#demo{
    color: white;
}

#gay{

    background-color:rgb(110, 61, 243);
    border: none;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 60px;
    overflow: hidden;
    transition: color 1,1s;
    transition-duration: 1s;
}

#gay:hover{
    background-color: aquamarine;
    color: #090909;
}

#Q{
    position: absolute;
    top: 110%
}
h2{
    color: white;
}
.btn-group .button {
    background-color:rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    transition-duration: 1s;
    border-radius: 8px;
  }
  .btn-group .button:hover {
    background-color: rgb(28, 141, 13);
    color: rgb(231, 227, 0);
  }
  .btn-group{
    position: absolute;
    top: 10%;
    left: 40%;
  }
